html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body, #__nuxt, #__layout, #app {
  height: 100%;
}
a, a:hover, a:focus, a:visited
{
  color: #41B883;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
